/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.primary-sidebar {
	padding: 1rem 2rem;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	min-width: 100%;
}

@media (--content-query) {
	.primary-sidebar {
		padding: 1rem;
		grid-area: sidebar;
		min-width: auto;
	}
}