/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.primary-sidebar {
	padding: 1rem .5rem;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	min-width: 100%;
	background: var(--background-color-bar);
}

@media (--content-query) {
	.primary-sidebar {
		padding: 1rem;
		grid-area: sidebar;
		min-width: auto;
	}
}